* {
}
body {
  background-image: url(/);
  background-size: cover;
  background-repeat: no-repeat;
}
#form-con {
  text-align: center;
 
}
h1 {
  text-align: center;
  color: crimson;
}
h2 {
  text-align: center;
  color: rgb(65, 127, 29);
}

#submit-con:hover {
  color: blue;
}
#div-contact {
   margin: 500px;
   width: 300px;
   margin: auto;
   padding: 50px;
   border: 5px dotted red;
   background-image: url();
   background-size: cover;
  
}
.button-sign {
    text-align: center;
}
