section {
  background-image: url(images/200w.gif);
  background-position: 500%;
  width: 100%;
  height: 200px;
}
h2 {
    text-align: center ;
    border: 10px solid hot white ;
    background-color: black;
    
}
p {
    text-align: center;
    border: 10px; color: azure           ;
}
